<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <h1>Something went wrong!</h1>
      <p>
        Unfortunately, something went wrong on the server
      </p>
      <p>
        We are trying to fix the issue as quick as possible
      </p>
    </main>
  </body>
</html>
